body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    position: relative;
    font-family: 'Aldrich', sans-serif;

}
p {
    /* text-align: center; */
    padding: 5px;
    font-size: 25px
}
.jumbotron {
    margin: 0 450px 0 450px;    
    text-align: center;
    padding-bottom: 
}
#thing { 
    background-color: rgba(255, 255, 255, 0.24);
}
img {
    width: 200px;
    height: auto;
    z-index: 1;
}
.title {
    width: 400px;
    height: auto;
}